/*
	COLORSCHEME
	Orangish: #F26627	
	Light-orange: #F9A26C
	Greyish: #EFEEEE
	Greenish: #98D7D1
	Bland-blue: #325D79
*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body{
	background: #EFEEEE;
}

#wrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 30px;
	font-family: Helvetica;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F9A26C;
	grid-column: 1 / -1;
	padding: 1rem 0;
}

header div{
	text-align: center;
	color: #fff;
	border: 2px solid #fff;
	padding: 25px 100px;
	font-weight: bold;
}

/* Sidebar Content */
aside{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #98D7D1;
	grid-column: 2 / span 3;
	padding: 1rem;
	font-size: 0.8rem;
}

#profile_pic{
	float: center;
	width: 60%;
	border: 2px solid #fff;
	border-radius: 50%;
}

#contact_section{
	margin-top: 1rem;
}

#contact_section article{
	padding: 0.8rem; 
}

#contact_section h2{
	margin-top: 1rem;
}

#contact_section article li{
	display: flex;
	jusity-content: center;
	align-items: center;
	padding: 0.6rem;
}

#contact_section article li a{
	text-decoration: none;
}

.icons{
	flex; 2;
	width: 20px;
	height: 20px;
}

.media_links{
	margin-left: 1rem;
	flex: 2;
}

#contact_separator{
	border: 1px solid #305F72;
}

/* Main Content */
main{
	grid-column: 5 / span 7;
	padding: 0px 30px;
	font-size: 1rem;
}

.main_content_sections{
	padding: 30px 0px;
	border-bottom: 3px solid #305F72;
}

.main_content_sections h2{
	margin-bottom: 1rem;
}

#bio{
	line-height: 2rem;
	font-size: 0.8rem;
}

/* Work Experience and Education */
.event{
	display: flex; 
	justify-content: space-between;
	align-items: space-between;
	text-transform: uppercase;
	width: 75%;
	padding: 1rem;
}

.date{
	font-size: 0.6rem;
	font-weight: 900;
	font-style: italic;
}

.date_info{
	width: 60%;
	font-size: 0.8rem;
}

.date_info p:nth-child(1){
	font-weight: 900;	
}

.date_info p:nth-child(2){
	font-size: 0.6rem;
	font-style: italic;
	font-weight: light;
}

/* Skills and Expertise */
#skills_lists{
	width: 60%;
	display: flex;
	justify-content: space-around;
}

#skills_lists li{
	font-size: 0.6rem;
	font-weight: lighter;
	text-transform: uppercase;
}

